
<!-- * *<div class="d-flex flex-row" *ngFor="let item of burger">
    <div class="bg-success ">{{item.nom}}</div>
    <div>{{item.prix}}</div>   <app-cat-burger></app-cat-burger>
    <img class="w-25 " src="{{item.image}}"> align-items-center
</div>* *

   <app-card></app-card>
    <h1 class="text-white">Mes menus</h1>
    <app-menu></app-menu>
    <h1 class="text-white">Mes burgers</h1>
    <app-cat-burger></app-cat-burger>

    <div class="d-flex justify-content-center align-items-center flex-column ">
            <h1 class="text-white">Faites-vous </h1>
            <h1 class="text-white">livrer votre burger préféré en 30 minutes</h1>
        <button class="bg-success">je commande</button>
    </div>

* * -->

<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a product by id or name or price">
  </div>

 <div class="d-flex justify-content-center align-items-center flex-column ">
    <h2 class="text-white">Faites-vous </h2>
    <h2 class="text-white">livrer votre burger préféré en 30 minutes</h2>
</div> 
<h2 class="text-white">Mes Menus</h2>

    <div class="d-flex flex-wrap" >
    <app-card  class="d-flex" *ngFor="let item of menus  | filter:searchText " [catalogues]="item">
        
    </app-card>
</div>


<h2 class="text-white">Mes Burgers</h2>

    <div class="d-flex flex-wrap" desabled="toggle(j)">
    <app-menu  class="d-flex" *ngFor="let item of burgers  | filter:searchText ; let j=index,"  [catalogues]="item"></app-menu>
</div>


