<div class="card-body" >
    <div class="d-flex justify-content-between">
        <h2 class="card-title"></h2>
        <h4 class="card-subtitle">{{taillee.libelle}}</h4>
        <p class="card-text">{{taillee.prix * quantity}}Fr</p>
        <input #t
        min="1"
        type="number"
        class="form-control input-manulator" 
        placeholder="" 
        aria-label="Example text with button addon" 
        aria-describedby="button-addon1" 
        value="{{quantity}}" (click)="mmm(t)"> 
    </div>
   </div>
