<div class="container">
    <div class="row mt-2 g-4" >
        <div class="col-md-3"  class="aa">
            <div class="card p-1">
                <div class="d-flex justify-content-between align-items-center p-2 " class="column">
                    <div> <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt130eb8978cc923bf/615db7e9b084d018488c0a1e/3010.jpg?auto=webp" height="100" width="100" /> </div>
                    <div>
                    <div class="flex-column lh-1 imagename"> <span>{{frittee.nom}}</span> <span></span> </div>
                    <div class="flex-column lh-1 imagename"> <span>{{frittee.prix * quantity}}</span> <span></span> </div>
                    <div class="flex-column lh-1 imagename"> <span>{{frittee.portionnss}}</span> <span></span> </div>
                </div>
                <div>
                    <input #t
                    min="1"
                    type="number"
                    class="form-control input-manulator" 
                    placeholder="" 
                    aria-label="Example text with button addon" 
                    aria-describedby="button-addon1" 
                    value="{{quantity}}" (click)="mmm(t)">
                </div>
                </div>
            </div> 
        </div>
     </div>
</div>