

<div class="container">
    <div class="row mt-2 g-4" >
    <div class="col-md-3"  class="aa">
     <div class="card p-1">
       listes des frittes
         <div class="d-flex justify-content-between align-items-center p-2 " >
             <div *ngFor="let frit of fritteTotal"> 
               <div> <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt130eb8978cc923bf/615db7e9b084d018488c0a1e/3010.jpg?auto=webp" height="100" width="100" /> </div>
             <div class="flex-column lh-1 imagename"> <span>nom:{{frit.nom}}</span> <span></span> </div>
             <div class="flex-column lh-1 imagename"> <span>Quantity:{{frit.quantite}}</span> <span></span> </div>
             <div class="flex-column lh-1 imagename"> <span>portion:{{frit.portionnss}}</span> <span></span> </div>
         </div>
         
         </div>
     </div> 
    </div>
    </div>
    </div>
    
    <!-- --------------------------------listes de boissons-------------------------------- -->
    
    
    <div class="container" *ngFor="let boisson of boissonTotal">
    <h1>{{boisson.nom}}</h1>
    <h1></h1>
    <div class="card" style="width: 20rem;">
    <img src="https://previews.123rf.com/images/radub85/radub851602/radub85160200066/51773761-bucarest-roumanie-16-janvier-2016-coca-cola-sprite-et-fanta-sont-les-plus-c%C3%A9l%C3%A8bres-boissons-gazeuses.jpg" class="card-img-top" alt="Accroche HTML">
    <div class="card-body" > 
    <div *ngFor="let taille of boisson.tailles">
    
    
    
    
    
    
    <div class="card-body p-0">
    <div class="row g-0">
    <div class="col-lg-8 ">
    <div class="">
    
    
    <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-3 col-lg-3 col-xl-3 ">
    <h6 class="text-muted"></h6>
    <h6 class="text-black mb-0">{{taille.libelle}}</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2 d-flex ">
    
    
    </div>
    
    </div>
    
    </div>
    </div>
    </div>
    </div>
</div></div></div></div>
