<!-- 
<section class="main-content">
    <div class="col-sm-6 col-md-6 col-lg-6" >
<app-panier *ngFor="let product of items$ | async" [panier]="product" >
    
</app-panier>
        <span class=""><h1> prix total:{{getPrixtotal()}}Frc</h1></span>

<div></div>
</div>
<div>
<button (click)="test()" *ngIf="command"><h1>comander</h1> </button>
<button [disabled]="command" (click)="sendCommande()"><h1>sur place</h1> </button>
<button [disabled]="command" (click)="aLivrerr()"><h1>a livrer</h1> </button>
<div ></div>
<!-- Button trigger modal-->
<!-- <button type="" class="btn btn-primary" data-toggle="modal" data-target="#monMoadal">Launch modal</button> -->

<!-- Modal: modalCart -->
<!-- <div class="" id="" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Your cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <!--Body-->
      <!-- <div class="modal-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Zone</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody *ngFor="let zon of zone">
          
            <tr> 
              <th scope="row">{{zon.id}}</th>
             <td><button #z [disabled]="aLivrer" *ngIf="aLivrerr" (click)="sendCommandeZone()" (click)="getObjetZone(zon)">{{zon.nom_zone}}</button></td>  
              <td>{{zon.prix_livr}}Frc</td>
              <td><a><i class="fas fa-times"></i></a></td> 
            </tr>
       

          </tbody>
        </table>

      </div> -->
      <!--Footer-->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal: modalCart -->
<!-- </div>
</section>  --> 


<div class="card">
  <div class="row">
      <div class="col-md-8 cart">
          <div class="title">
              <div class="row">
                  <div class="col"><h4><b>Shopping Cart</b></h4></div>
                  <div class="col align-self-center text-right text-muted">3 items</div>
              </div>
          </div>    
          <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                  <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                  <div class="col">
                      <div class="row text-muted">Shirt</div>
                      <div class="row">Cotton T-shirt</div>
                  </div>
                  <div class="col">
                      <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                  </div>
                  <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
              </div>
          </div>
          
          <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
      </div>
      <div class="col-md-4 summary">
          <div><h5><b>Summary</b></h5></div>
          <hr>
          <div class="row">
              <div class="col" style="padding-left:0;">ITEMS 3</div>
              <div class="col text-right">&euro; 132.00</div>
          </div>
          <form>
              <p>SHIPPING</p>
              <select *ngFor="let zon of zone">
                <option class="text-muted">{{zon.nom_zone}}- {{zon.prix_livr}}Frc</option>
              </select>
              <p>GIVE CODE</p>
              <input id="code" placeholder="Enter your code">
          </form>
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col">TOTAL PRICE</div>
              <div class="col text-right">&euro; 137.00</div>
          </div>
          <button class="btn">CHECKOUT</button>
      </div>
  </div>
  
</div>

<!-- --------------------------------------modal-------------------------- -->

<!-- <app-modal></app-modal> -->
<!-- -----------------------------listes des complements-------------------------------------------- -->


<div class="container">
<div class="row mt-2 g-4" >
<div class="col-md-3"  class="aa">
 <div class="card p-1">
   listes des frittes
     <div class="d-flex justify-content-between align-items-center p-2 " >
         <div *ngFor="let frit of fritteTotal"> 
           <div> <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt130eb8978cc923bf/615db7e9b084d018488c0a1e/3010.jpg?auto=webp" height="100" width="100" /> </div>
         <div class="flex-column lh-1 imagename"> <span>nom:{{frit.nom}}</span> <span></span> </div>
         <div class="flex-column lh-1 imagename"> <span>Quantity:{{frit.quantite}}</span> <span></span> </div>
         <div class="flex-column lh-1 imagename"> <span>portion:{{frit.portionnss}}</span> <span></span> </div>
     </div>
     
     </div>
 </div> 
</div>
</div>
</div>

<!-- --------------------------------listes de boissons-------------------------------- -->


<div class="container" *ngFor="let boisson of boissonTotal">
<h1>{{boisson.nom}}</h1>
<h1></h1>
<div class="card" style="width: 20rem;">
<img src="https://previews.123rf.com/images/radub85/radub851602/radub85160200066/51773761-bucarest-roumanie-16-janvier-2016-coca-cola-sprite-et-fanta-sont-les-plus-c%C3%A9l%C3%A8bres-boissons-gazeuses.jpg" class="card-img-top" alt="Accroche HTML">
<div class="card-body" > 
<div *ngFor="let taille of boisson.tailles">






<div class="card-body p-0">
<div class="row g-0">
<div class="col-lg-8 ">
<div class="">


<div class="row mb-4 d-flex justify-content-between align-items-center">
<div class="col-md-3 col-lg-3 col-xl-3 ">
<h6 class="text-muted"></h6>
<h6 class="text-black mb-0">{{taille.libelle}}</h6>
</div>
<div class="col-md-3 col-lg-3 col-xl-2 d-flex ">


</div>

</div>

</div>
</div>
</div>
</div>