<!-- 
<section class="main-content">
    <div class="col-sm-6 col-md-6 col-lg-6" >
<app-panier *ngFor="let product of items$ | async" [panier]="product" >
    
</app-panier>
        <span class=""><h1> prix total:{{getPrixtotal()}}Frc</h1></span>

<div></div>
</div>
<div>
<button (click)="test()" *ngIf="command"><h1>comander</h1> </button>
<button [disabled]="command" (click)="sendCommande()"><h1>sur place</h1> </button>
<button [disabled]="command" (click)="aLivrerr()"><h1>a livrer</h1> </button>
<div ></div>
<!-- Button trigger modal-->
<!-- <button type="" class="btn btn-primary" data-toggle="modal" data-target="#monMoadal">Launch modal</button> -->

<!-- Modal: modalCart -->
<!-- <div class="" id="" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Your cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <!--Body-->
      <!-- <div class="modal-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Zone</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody *ngFor="let zon of zone">
          
            <tr> 
              <th scope="row">{{zon.id}}</th>
             <td><button #z [disabled]="aLivrer" *ngIf="aLivrerr" (click)="sendCommandeZone()" (click)="getObjetZone(zon)">{{zon.nom_zone}}</button></td>  
              <td>{{zon.prix_livr}}Frc</td>
              <td><a><i class="fas fa-times"></i></a></td> 
            </tr>
       

          </tbody>
        </table>

      </div> -->
      <!--Footer-->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal: modalCart -->
<!-- </div>
</section>  --> 

<button>clearCard</button>
<div class="card">
  <div class="row">
      <div class="col-md-8 cart">
          <div class="title">
              <div class="row">
                  <div class="col"><h4><b>Shopping Cart</b></h4></div>
                  <div class="col align-self-center text-right text-muted">3 items</div>
              </div>
          </div>    
          <app-panier *ngFor="let product of items$ | async" [panier]="product" >
    
          </app-panier>
          <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                  <div class="col-2"></div>
                  <div class="col">
                      <div  (click)="test()" class=""><button [disabled]="nonCommand">commander</button></div>
                      <div class="row"></div>
                  </div>
                  <div class="col">  <h2 class="close">prix total:{{getPrixtotal()}}Frc</h2></div>
              </div>
          </div>
          <div class="butt">
          <button [routerLink]="['/']"  [disabled]="nonCommand" [disabled]="command" (click)="sendCommande()" class="">Commander sur place</button>
          <button [disabled]="command" (click)="nonComd()" class="">Commander avec livraison</button>
        </div>
      </div>
      <div class="col-md-4 summary" *ngIf="nonCommand">
          <div><h5><b>Summary</b></h5></div>
          <hr>
          <div class="row">
              <div class="col" style="padding-left:0;">ITEMS 3</div>
              <div class="col text-right">&euro; 132.00</div>
          </div>
          <form >
            <div *ngFor="let zon of zone" class="d-flex flex-row justify-content-end">
              <label for="contactChoice1">{{zon.nom_zone}}  à  {{zon.prix_livr}}Frc</label>
              <input (click)="validerr()" #z (click)="getObjetZone(zon)" type="radio" id="contactChoice1"
               name="contact" value="email">
            </div>
              <!-- <p>SHIPPING</p> -->
              <!-- <select>
                <option class="text-muted" >--Choisir zone--</option>
                <option #z (click)="getObjetZone(zon)" class="text-muted" *ngFor="let zon of zone"> {{zon.nom_zone}}  à  {{zon.prix_livr}}Frc</option>
              </select> -->
              <!-- <p>GIVE CODE</p>
              <input id="code" placeholder="Enter your code"> -->
          
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col">TOTAL PRICE</div>
              <div class="col text-right">&euro; 137.00</div>
          </div>
          <button [routerLink]="['/']" [disabled]="valider" (click)="sendCommandeZone()" (click)="removeFromCart(items$)" class="">valider</button>
        </form>
      </div>
  </div>
  
</div>

<!-- --------------------------------------modal-------------------------- -->

<!-- <app-modal></app-modal> -->
<!-- -----------------------------listes des complements-------------------------------------------- -->

<app-complement></app-complement>